# render.yaml
databases:
  - name: django-drf-db
    databaseName: django_drf_db
    user: drf_user
    plan: free
    region: oregon

services:
  - type: web
    name: django-drf-api
    runtime: docker
    plan: free
    region: oregon
    dockerfilePath: ./Dockerfile
    dockerContext: .
    healthCheckPath: /api/
    autoDeploy: true
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: django-drf-db
          property: connectionString
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        generateValue: true
      - key: DJANGO_SUPERUSER_USERNAME
        value: "admin"
      - key: DJANGO_SUPERUSER_PASSWORD
        sync: false
      - key: DJANGO_SUPERUSER_EMAIL
        value: "admin@example.com"
      - key: ALLOWED_HOSTS
        value: "*"
      - key: DJANGO_ENV
        value: "production"
